extends layout

block content
  div.welcome-message
    if (!user)
      p Welcome Guest User, Lets Find You A New Podcast!
    if (user)
      p Welcome #{user.username}, time to explore!

  div
    h1 Find Podcasts
    //- p Welcome to #{title}
    form.searchForm(action="/podcasts", method="get")  
      input.search(type="text", name="name", placeholder="Search Here!")
      button.btn.btn-primary#submit(type="submit", value="search") Go
