extends layout

block content
  div
    h1 PodFan.
    h2.subtitle Here To Help You Find Your New Favorite Pod
    img.mainLogo(src="http://www.freeiconspng.com/uploads/podcast-icon-3.jpg")
    h2.subtitle Because The Only Thing More Boring Then Listening To A Podcast Is Deciding Which One To Choose
