extends layout

block content
  h2.subtitle I found #{podcasts.length} shows to check out!
  a(href='/home')
    button.back-button(type="button") Or Search Again
  ul
  for podcast in podcasts
    form(class="results" name="get-podcasts", action="podcasts", method="post")
      div
        h2 #{podcast.collectionName}
        img(src=podcast.artworkUrl100 alt="Podcast-logo")
        input(type="hidden" name="rssUrl" value="#{podcast.feedUrl}")
