@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
    padding: 0px;
    font-family: 'Architects Daughter', cursive;
}

a {
    color: rgb(49, 130, 222);
}

header {
    background-color: #333;
    width: 100%;
    height: 100px;
}

header nav {
    float: right;
}

ul {
    display: inline-flex;
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 2.25rem;
    color: rgb(49, 130, 222);
}

li {
    margin: 1rem;
}

form {
    margin: 2rem auto;
    text-align: center;
    width: 50%;
    border: 2px solid gray;
}

.mainLogo {
    margin: 4rem auto;
    display: block;
    height: 16rem;
}

.results {
    background-color: lightgrey;
}

.results h2 {
    color: rgb(49, 130, 222);
    font-size: 2rem;
    width: 65%;
    margin: 2rem auto;
}

.results img {
    height: 10rem;
    margin-bottom: 3rem;
}

.searchForm {
    border: 0;
}

.searchForm input {
    display: block;
    text-align: center;
    margin: 1rem auto;
    width: 15rem;
}

.auth-form {
    border: 10px solid rgb(49, 130, 222);
    padding: 3rem;
}

.welcome-message {
    text-align: center;
    font-size: 1.5rem;
    margin: 5rem;
}


@media only screen and (max-width: 1000px) {
    header {
        height: 100%;
    }
    header nav {
        text-align: center;
        font-size: 5rem;
        float: none;
    }
    h1 {
        font-size: 5.5rem;
        margin: 10rem 0rem;
    }
    .mainLogo {
        height: 30rem;
        margin: 1rem auto;
    }
    input {
        width: 75%;
        height: 5rem;
        font-size: 2.5rem;
    }
    button {
        width: 38%;
        height: 5rem;
        font-size: 2.5rem;
    }
    form {
        width: 70%;
    }
    .welcome-message {
        text-align: center;
        font-size: 4rem;
        margin: 5rem;
    }
    .searchForm input {
        width: 35rem;
    }
    .search {
        border: 1px solid black;
    }
}
