@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Dosis');
body {
    padding: 0px;
    font-family: 'Dosis', sans-serif;
}

a {
    color: rgb(49, 130, 222);
    text-decoration: none;
}

header {
    background-color: #333;
    width: 100%;
    height: 100px;
}

.banner-title {
    text-align: left;
    margin: 3rem;
    display: inline;
}

.subhead {
    text-align: center;
    color: rgb(49, 130, 222);
}

header nav {
    display: inline-flex;
    list-style: none;
}

.containerL {
    float: left;
    width: 40%;
    height: 100vh;
    background-color: lightgrey;
}

.containerR {
    float: right;
    width: 60%;
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: rgb(49, 130, 222);
    font-family: 'Architects Daughter', cursive;
}

li {
    margin: 1rem;
    text-decoration: none;
}

button {
    border-radius: 5px;
    border: none;
    width: 5rem;
    height: 2rem;
}

#submit {
    color: #d3d3d3;
}

.search {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

.register-ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

form {
    margin: 2rem auto;
    text-align: center;
    width: 50%;
    border: 2px solid gray;
}

.subtitle {
    text-align: center;
    color: rgb(49, 130, 222);
    width: 90% margin: 0 auto;
}

.mainLogo {
    margin: 2rem auto;
    display: block;
    height: 14rem;
}

.back-button {
    margin: 0 auto;
    width: 10rem;
    text-align: center;
    display: block;
}

.results {
    background-color: lightgrey;
}

.results h2 {
    color: rgb(49, 130, 222);
    font-size: 2rem;
    width: 65%;
    margin: 2rem auto;
}

.results img {
    height: 10rem;
    margin-bottom: 3rem;
}

.searchForm {
    width: 25%;
    border: 0;
}

.form-group input {
    display: block;
    text-align: center;
    margin: 1rem auto;
    width: 100%;
}

.auth-form {
    border: 5px solid rgb(49, 130, 222);
    padding: 3rem;
    background-color: #eaeaea;
}

.welcome-message {
    text-align: center;
    font-size: 1.5rem;
    margin: 4rem;
}

@media only screen and (max-width: 750px) {
    header {
        height: 100%;
    }
    header nav {
        text-align: right;
        float: none;
    }
    .auth-form {
        border: 5px solid rgb(49, 130, 222);
        padding: 1rem;
    }
    input {
        width: 75%;
        height: 2rem;
    }
    form {
        width: 70%;
    }
    .welcome-message {
        text-align: center;
        margin: 5rem;
    }
    .search {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 100%;
    }
    header {
        height: 100%;
    }
    header a {
        text-align: center;
        float: none;
    }
    .containerL {
        width: 100%;
        background-color: lightgrey;
    }
    .containerR {
        float: left;
        width: 100%;
    }
    .form-group input {
        width: 50%;
        height: 2rem;
    }
    form {
        width: 90%;
    }
    .welcome-message {
        text-align: center;
        margin: 5rem;
    }
    .search {
        border: 1px solid black;
        width: 5rem;
    }
}
